.item {
    position: relative;
    width: 100%;
    padding: 20px 20px 40px 20px;
    border-radius: 32px;
    -webkit-box-shadow: 0px 0px 10px 0px var(--light-purple);
    -moz-box-shadow: 0px 0px 10px 0px var(--light-purple);
    box-shadow: 0px 0px 10px 0px var(--light-purple);
}

.item img {
    max-width: 100%;
    border-radius: 26px;
}

.tags {
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    bottom: 6px;
}

.tags span {
    background-color: var(--light-purple);
    border-radius: 4px;
    padding: 2px;
}

@media screen and (min-width: 768px) {
    .item {
        width: 32%;
    }
}
