.main-navigation {
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: var(--dark-gray);
    color: var(--light-purple);
}

.expanded-menu {
    background-color: red;
}

.main-navigation li {
    display: inline-block;
    margin-right: 10px;
}

.link {
    cursor: pointer;
}

.link:hover {
    opacity: 0.8;
}

.active-link {
    font-weight: 700;
}
