.main-navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 10px;
  background-color: var(--dark-gray);
  color: var(--light-purple);
  z-index: 10;
  top: 0;
}

.main-navigation ul {
  height: 0px;
  transform: translateY(-100vh);
  font-size: 20px;
  text-shadow: 5px 5px 10px var(--light-purple);
}

.main-navigation.expanded-menu {
  height: 100%;
}

.main-navigation.expanded-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  height: 100%;
  transform: translateY(0vh);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.main-navigation li {
  display: inline-block;
  margin-right: 10px;
}

.link {
  cursor: pointer;
}

.link:hover {
  opacity: 0.8;
}

.nav-burger {
  position: relative;
  width: 40px;
  height: 30px;
  margin-left: auto;
  margin-right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.nav-burger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  left: 0;
  background: var(--light-purple);
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-box-shadow: 0px 0px 26px -1px var(--light-purple);
  -moz-box-shadow: 0px 0px 26px -1px var(--light-purple);
  box-shadow: 0px 0px 26px -1px var(--light-purple);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-burger span:nth-child(1) {
  top: 0px;
}

.nav-burger span:nth-child(2) {
  top: 12px;
}

.nav-burger span:nth-child(3) {
  top: 24px;
}

.nav-burger.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-burger.open span:nth-child(2) {
  opacity: 0;
  left: 45px;
}

.nav-burger.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media screen and (min-width: 768px) {
  .main-navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    column-gap: 10px;
    height: auto;
    transform: translateY(0vh);
    text-shadow: none;
  }

  .nav-burger {
    display: none;
  }
}
