.section {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .card {
    display: grid;
    grid-template-areas: "profile links";
    align-items: center;
    row-gap: 40px;
    column-gap: 20px;
  }

  .card img {
    grid-area: profile;
  }

  .card ul {
    grid-area: links;
    text-align: left;
  }
}
