.section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .section {
        display: grid;
        grid-template-areas: "title title" "profile links";
        row-gap: 40px;
        column-gap: 20px;
    }

    .section h3 {
        grid-area: title;
    }

    .section img {
        grid-area: profile;
    }

    .section ul {
        grid-area: links;
        text-align: left;
    }
}
